.page {
  height: 100vh;
  width: 100%;
}
h1 {
  text-align: center;
  font-weight: bold;
  margin-right: 20px;
  color: rgb(146, 210, 237);
  /* color: #696C71; */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.landing-page-container {
  height: 100%;
  min-height: 100%;
  width: 100%;
  display: flex;
  background-color: #282D35;
  overflow-y: scroll;
}

.left-side {
  height: 100%;
  width: 75%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgb(17, 178, 247);
}

.form {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.input {
  width: 30%;
  height: 40px;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  padding-left: 10px;
  background-color: rgba(255, 255, 255, .3);
  color: rgb(17, 178, 247);
}

.input:focus {
  border: 1px solid rgb(17, 178, 247);
  outline: none;
}

.input::placeholder {
  color: #282D35;
}

.button {
  height: 100%;
  width: 10%;
  background-color: rgb(107, 191, 227);
  border-radius: 5px;
  border: none;
  font-size: 18px;
  color: #282D35;
  box-sizing: content-box;
  margin-left: 10px;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.results-container {
  margin-top: 10px;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  cursor: pointer;
  width: 44%;
  height: 45px;
  margin-top: 10px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: transparent;
  border-radius: 5px;
  align-items: center;
  justify-content: flex-start;
  pointer-events: none;
}

.row > h2 {
  color: rgb(107, 191, 227);
  pointer-events: auto;
}

.row:hover {
  background-color: rgb(17, 178, 247);
}

.row > h2:hover {
  color: #282D35;
}

.repo-name {
  margin-left: 5px;
}

.repo-details-container {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details-row {
  height: 20px;
  width: 70%;
  display: flex;
  margin-top: 25px;
  align-items: center;
}

.label {
  font-weight: bold;
  margin-right: 20px;
  color: #696C71;
}

.value {
  color: rgb(17, 178, 247);
}

.loader {
  color: rgb(17, 178, 247);
  margin-left: 5%;
}
@media screen and (max-width: 480px){
  .page {
    flex-direction: column;
    text-align: center;
    margin-top: 40px;
  }
  form{
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
}
.results-container{
  font-size: 10px;
  text-align: left;
}
  .repo-details-container{
    flex-direction: column;
    text-align: left;
    margin-top: 30px
  }
  .input{
    font-size: 15px;
  }
  .button{
    height: 50%;
    width: 20%;
    font-size: 15px;
  }
  .landing-page-container{
    display: inline-flex;
  }
  .label {
    font-weight: bold;
    
    color: #696C71;
    font-size: 10px;
  }
  .value{
    font-size: 10px;
   
  }
  h1{
    font-size: 30px;
  }
  .left-side {
    height: 75%;
    width: 70%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgb(17, 178, 247);
  }
  .details-row {
    height: 20px;
    width: 70%;
    display: flex;
    align-items: left;
  }
  
  
}